@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  
  @import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    background: #ff00cc; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #540a5a, #8f8f9f); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #540a5a, #8e8e9b);
}





.area{
    /* background: #4e54c8;   */
    background: linear-gradient(to left, #530568, #642153);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-image: url("https://www.svgrepo.com/show/232048/panda.svg");
    background-size: contain;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.warp__placeholder{
  position: absolute;
  color: transparent;
  font-size: .1px;
}

.warp {
  display: block;
  position: relative;
  width: 1111px;
  height: 620px;
  font: normal 199px/1 Anton;
}

[class*='warp__'] {
  display: block;
  position: absolute;
}

.warp__0 {
  transform-origin: 50% 162px;
  transform: translate(146.0992px,258.7176px) rotate(-0.958504rad);
}

.warp__1 {
  transform-origin: 50% 162px;
  transform: translate(216.296px,181.1732px) rotate(-0.696315rad);
}

.warp__2 {
  transform-origin: 50% 162px;
  transform: translate(306.4087px,122.5505px) rotate(-0.448137rad);
}

.warp__3 {
  transform-origin: 50% 162px;
  transform: translate(409.7631px,88.2928px) rotate(-0.191097rad);
}

.warp__4 {
  transform-origin: 50% 162px;
  transform: translate(519.7248px,82.7484px) rotate(0.08722rad);
}

.warp__5 {
  transform-origin: 50% 162px;
  transform: translate(625.7562px,102.5695px) rotate(0.310287rad);
}

.warp__6 {
  transform-origin: 50% 162px;
  transform: translate(706.9973px,142.19170000000003px) rotate(0.505225rad);
}

.warp__7 {
  transform-origin: 50% 162px;
  transform: translate(797.7249px,204.22000000000003px) rotate(0.704138rad);
}

.warp__8 {
  transform-origin: 50% 162px;
  transform: translate(871.6985px,282.8293px) rotate(0.921553rad);
}


}